.post {
  padding: 20px;
  display: flex;
  align-items: center;
  width: 300px;
  justify-content: space-between;
  margin: 0 auto;
}

.post img {
  width: 80px;
  height: 70px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

.likes{
  margin-top: 5px;
}